NODE_ENV=development
PORT=4000
BOT_TOKEN=bot-token-here
DB_HOST=10.10.60.149
DB_PORT=5432
DB_USERNAME=dev
DB_PASSWORD=password
DB_DATABASE=database
CLIENT_ID=client-id-here
CLIENT_SECRET="client-secret-here"
OAUTH_URL=https://oauth2.mezon.ai

JWT_SECRET=your-jwt-secret-key-here
JWT_REFRESH_SECRET=your-refresh-secret-key-here

MEZON_BOT_ID=mezon-bot-id-here
MEZON_BOT_TOKEN=mezon-bot-token-here